* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    background-color: #e4dede;
}

ul, ol {
    list-style-type: none;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A62139;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

header h1 {
    font-family: korolev-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.btn-no-style {
    background: none;
    border: none;
    color: #F2F2F2;
    font-size: 16px;
}

.nav-btn {
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 10px;
}

.nav-btn:hover, .meta a:hover, a:hover, .delete-post-btn:hover {
    color: #D9946C;
}

main {
    width: 80vw;
    height: 100%;
    margin: auto;
    background-color: #F2F2F2;
    /* padding: 50px; */
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.img-wrapper {
    background-color: #2D2F59;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper, .post-wrapper {
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form, .signup-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-bottom: 50px;
}

label {
    text-transform: uppercase;
    font-family: korolev, sans-serif;
}

input[type=text], input[type=password], button[type=submit], textarea {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    padding: 0 5px;
}

button[type=submit] {
    background-color: #2D2F59;
    color: #F2F2F2;
    text-transform: uppercase;
    border: none;
    font-family: korolev, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

button[type=submit]:hover {
    background-color: #A62139;
}

.new-post-form {
    width: 100%;
}

textarea {
    height: 250px;
    padding: 5px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mouse {
    width: 60%;
}

.post {
    margin: 10px auto;
    border: 1px solid #2D2F59;
}

.title {
    background-color: #2D2F59;
    color: #F2F2F2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.body-text {
    padding: 10px;
}

.meta a {
    color: #F2F2F2;
    text-decoration: none;
}

.comment {
    padding: 20px;
    border-bottom: 1px solid black;
}

.edit-link, .delete-post-btn {
    color: #2D2F59;
}

footer {
    width: 100vw;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000;
}